<div class="container my-5">
    <h1 class="mb-3">Edit Product</h1>
    <form #form="ngForm" (ngSubmit)="updateProduct()">
        <div class="mb-3">
            <label for="article" class="form-label">Article</label>
            <input type="text" class="form-control" id="article" name="article" [(ngModel)]="productDetails.article">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">description</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="productDetails.description">
        </div>
        <div class="mb-3">
            <label for="referenceName" class="form-label">reference</label>
            <input type="text" class="form-control" id="referenceName" name="referenceName" [(ngModel)]="productDetails.referenceName">      
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">price</label>
            <input type="text" class="form-control" id="price" name="price" [(ngModel)]="productDetails.price">    
        </div>
        <button type="submit" class="btn btn-primary btn-sm" (click)="updateProduct()">Save</button> 
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteProduct()">Delete</button>  
    </form>
</div>