    <p *ngIf="!inventories">No Inventory found</p>
    <table class="table" *ngIf="inventories">
        <thead>
            <tr>
                <th>Article</th>
                <th>ReferenceName</th>
                <th>ObjectifNB</th>
                <th>NBComptage</th>
                <th>Ecart</th>
                <th>Year</th>
                <th>Quantity</th>
                <th>Month</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let inventory of inventories">
                <td>{{inventory.article}}</td>
                <td>{{inventory.referenceName}}</td>
                <td>{{inventory.objectifNB}}</td>
                <td>{{inventory.nBCOmptage}}</td>
                <td>{{inventory.ecart}}</td>
                <td>{{inventory.year}}</td>
                <td>{{inventory.quantity}}</td>
                <td *ngFor="let month of inventory.months">{{month}}</td>
            </tr>
        </tbody>
    </table>