<div class="container my-5">
    
    <table class="table" >
      <thead>
        <tr>
          <th>WeekNB</th>
          <th>Article</th>
          <th>UserName</th>
          <th>ecart</th>
          <th>done</th>   
          <th></th>     
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let item of dcGets">
            <td>{{item.weekNB}}</td>
            <td>{{item.article}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.ecart}}</td>
            <td>{{item.done}}</td>
            <td><a [routerLink]="['/ResponsableMagasin/inventory/UpdateNdInv', item.article, item.weekNB]">Dtetails</a></td>
            
          </tr>
        </tbody>
    </table>
  </div>