<div class="container my-5" *ngIf="ComptageDetails">
    <h3 class="mb-3">Locations:</h3>
    <div *ngIf="!ComptageDetails">
        <p>this product not yet inventoried</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Article</th>
                <th>Production</th>
                <th>UserName</th>
                <th>WeekNB</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{Article}}</td>
                <td>{{ComptageDetails.production}}</td>
                <td>{{ComptageDetails.userName}}</td>
                <td>{{ComptageDetails.weekNB}}</td>
            </tr>
        </tbody>
    </table>
    
    <table class="table">
        <thead>
            <tr>
                <th>Magasin</th>
                <th>Emplacement</th>
                <th>Quantité</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let PME of ComptageDetails.pmEs">
                <td>{{PME.magasinName}}</td>
                <td>{{PME.emplacementName}}</td>
                <td>{{PME.quantity}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="update || acc">
        <div>
            <button class="btn btn-primary btn-sm" ((submit))="UpdateLoc()">Update stock</button>
        </div>
    </div>
    <div *ngIf="!update && !acc">
        <form #form="ngForm" (ngSubmit)="SendNotif()">
            <div class="mb-3">
                <label for="justif" class="form-label">Justification:</label>
                <input type="text" class="form-control" id="justif" name="justif" [(ngModel)]="notif.justif">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
    </div>

</div>
