<div class="container my-5">
    <h1 class="mb-3">Add New Product</h1>
    <form #form="ngForm" (ngSubmit)="addproduct()">
        <div class="mb-3">
            <label for="Article" class="form-label">Article</label>
            <input type="text" class="form-control" id="Article" name="article" [(ngModel)]="addProduct.article">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">description</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="addProduct.description">
        </div>
        <div class="mb-3">
            <label for="referenceName" class="form-label">reference</label>
            <input type="text" class="form-control" id="referenceName" name="referenceName" [(ngModel)]="addProduct.referenceName">     
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">price</label>
            <input type="text" class="form-control" id="price" name="price" [(ngModel)]="addProduct.price">     
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>    
    </form>
</div>