<table class="table" *ngIf="notifs">
    <thead>
        <tr>
            <th>Article</th>
            <th>WeekNB</th>
            <th>ecartPiece</th>
            <th>ecartPrix</th>
            <th>ecartPerCent</th>
            <th>justification</th>
            <th></th>>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of notifs">
            <td>{{item.article}}</td>
            <td>{{item.weekNB}}</td>
            <td>{{item.ecartPiece}}</td>
            <td>{{item.ecartPrix}}</td>
            <td>{{item.ecartPerCent}}</td>
            <td>{{item.justif}}</td>
            <td><button class="btn btn-primary btn-sm" (click)="Accept(item.article, item.weekNB)">Accept</button></td>
        </tr>
    </tbody>

</table>