<nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <button class="page-link" (click)="onMonthIncreese(selectedMonth)" [disabled]="selectedMonth === 'janvier'" >Previous</button>
      </li>
      
      <li class="page-item active" aria-current="page">
        <label class="page-link" >{{selectedMonth}}</label>
      </li>
      
      <li class="page-item">
        <button class="page-link" (click)="onMonthDecreese(selectedMonth)" [disabled]="selectedMonth === 'decembre'" >Next</button>
      </li>
    </ul>
</nav>

<div class="container my-5">
    <p *ngIf="!inventories">No Inventory found</p>
    <table class="table" *ngIf="inventories">
      <thead>
        <tr>
          <th>Article</th>
          <th>ReferenceName</th>
          <th>Ecart</th>
          <th>Year</th>
          <th>Quantity</th>         
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let inventory of inventories">
            <td>{{inventory.article}}</td>
            <td>{{inventory.referenceName}}</td>
            <td>{{inventory.ecart}}</td>
            <td>{{inventory.year}}</td>
            <td>{{inventory.quantity}}</td>
          </tr>
        </tbody>
    </table>
  </div>
  