<div class="container my-5">
    <h1 class="mb-3">new inventory:</h1>
    <br>
    <table class="table" *ngIf="products">
      <thead>
        <tr>
          <th>article</th>
          <th>description</th>
          <th>reference</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>
            <label>
              <input type="checkbox" (change)="addToSelectedProducts(product)">
              {{ product.article }}
            </label>
          </td>
          <td>{{ product.article }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.referenceName }}</td>
        </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-primary btn-sm" (click)="addInventories()">Add Inventory</button>
    </div>
  </div>
  