

<div class="container my-5">
    
    <table class="table" >
      <thead>
        <tr>
          <th>Article</th>
          <th>NBWeek</th>
          <th>Ecart</th>
          <th>Ecart Prix</th>
          <th>pourcentage</th>   
               
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let e of ecars">
            <td>{{e.article}}</td>
            <td>{{e.weekNB}}</td>
            <td>{{e.ecart}}</td>
            <td>{{e.ecartPrice}}</td>
            <td>{{e.ecartPerCent}}</td>
          </tr>
        </tbody>
    </table>
    <div>
      <h4>Tolal:</h4>
      <p>{{n}}</p>
      <h4>pourcentage des ecart > 5%:</h4>
      <p>{{num}}% </p>
    </div>
  </div>
  