

<div class="container my-5">
    <h4>Inventory of year</h4>
    <table class="table" >
        
      <thead>
        <tr>
          <th>Total</th>
          <th>Done</th>
          <th>percentage</th> 
        </tr>
      </thead>
        <tbody>
          <tr>
            <td>{{total}}</td>
            <td>{{done}}</td>
            <td>{{perCent}}</td>
          </tr>
        </tbody>
    </table>
    <h4>Inventory of Week</h4>
    <div>
      <app-pagination
      [currentPage]="currentPage"
      [totalWeeks]="totalWeeks"
      (pageChanged)="onPageChanged($event)"
      >
      </app-pagination>
    </div>
    <table class="table" >
        
      <thead>
        <tr>
          <th>Total</th>
          <th>Done</th>
          <th>percentage</th> 
        </tr>
      </thead>
        <tbody>
          <tr>
            <td>{{Total}}</td>
            <td>{{Done}}</td>
            <td>{{PerCent}}%</td>
          </tr>
        </tbody>
    </table>
  </div>
  