<div class="container my-5">
    <h1 class="mb-3">Users:</h1>
    
    
    <table class="table" *ngIf="users">
        
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>   
        </thead>
        <tbody>
            <tr *ngFor="let User of users">
                <td>{{User.userName}}</td>
                <td>{{User.email}}</td>
                <td>{{User.role}}</td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!users">No users found</p>
    
</div>