
<app-pagination
    [currentPage]="currentPage"
    [totalWeeks]="totalWeeks"
    (pageChanged)="onPageChanged($event)"
  >
</app-pagination>
<div class="container my-5">
    <p *ngIf="!Invs">No Inventory found</p>
    <table class="table" *ngIf="Invs">
      <thead>
        <tr>
          <th>WeekNB</th>
          <th>Article</th>
          <th>ReferenceName</th>
          <th>ecart</th>
          <th>done</th>   
          <th></th>     
        </tr>
      </thead>
        <tbody>
          <tr *ngFor="let inv of Invs">
            <td>{{inv.weekNB}}</td>
            <td>{{inv.article}}</td>
            <td>{{inv.referenceName}}</td>
            <td>{{inv.ecart}}</td>
            <td>{{inv.done}}</td>
            <td><a [routerLink]="['/ResponsableMagasin/Comptage',inv.article , inv.weekNB]">Dtetails</a></td>
            
          </tr>
        </tbody>
    </table>
  </div>
  