
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/RPL/Ecart/All">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/RPL/Ecart/SupCinq"> superieur a 5% </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/RPL/Ecart/SupCinqCent">Superieur a 500 euro</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      <router-outlet></router-outlet>
    </div>
  
  