<div class="login-box">
	<h2>Login</h2>
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<div class="user-box">
			<input type="email" formControlName="email" class="form-control" placeholder="email" required>
			<div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors">
				<div *ngIf="loginForm.get('email')?.errors">Invalid email format</div>
				<div *ngIf="authService.isLoggedIn">User is logged in</div>
			</div>
		</div>
		<div class="user-box">
			<input type="password" formControlName="password" class="form-control" placeholder="Password" required>
			<div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors">
				<div *ngIf="loginForm.get('password')?.errors['required']">Password is required</div>
				<div *ngIf="loginForm.get('password')?.errors['minlength']">Password must be at least 6 characters</div>
			</div>
		</div>
		<button type="submit">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			Submit
		</button>
	</form>
</div>