<nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link" (click)="onPageChanged(currentPage - 1)">Previous</a>
      </li>
  
      <li class="page-item" [ngClass]="{ 'active': currentPage === i }" *ngFor="let i of getVisiblePages()">
        <a class="page-link" (click)="onPageChanged(i)">{{ i }}</a>
      </li>
  
      <li class="page-item" *ngIf="currentPage < totalPages">
        <a class="page-link" (click)="onPageChanged(currentPage + 1)">Next</a>
      </li>
    </ul>
  </nav>