<div class="container my-5">
    <h3 class="mb-3">Locations:</h3>
    <p *ngIf="!pmes">No Inventory found</p>
<table class="table" *ngIf="pmes">
    <thead>
        <tr>
            <th>Article</th>
            <th>Magasin</th>
            <th>Emplacement</th>
            <th>Quantité</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let location of pmes">
            <td>{{article}}</td>
            <td>{{location.magasinName}}</td>
            <td>{{location.emplacementName}}</td>
            <td>{{location.quantity}}</td>
        </tr>
    </tbody>
</table>
</div>
<div>
    <div>
        <button class="btn btn-primary btn-sm" (click)="showLocation()">Add Location</button>
    </div>
    <div *ngIf="loc">
        <form #form="ngForm" (ngSubmit)="AddLocation()">
          <div class="mb-3">
              <label for="magasinName" class="form-label">Magasin</label>
              <input type="text" class="form-control" id="magasinName" name="magasinName" [(ngModel)]="pme.magasinName" required>
          </div>
          <div class="mb-3">
            <label for="emplacementName" class="form-label">Emplacement</label>
            <input type="tetxt" class="form-control" id="emplacementName" name="emplacementName" [(ngModel)]="pme.emplacementName" required>
        </div>
          <div class="mb-3">
              <label for="quantity" class="form-label">Quantity</label>
              <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="pme.quantity" required>
          </div>
          <button class="btn btn-primary btn-sm" type="submit">Select Location</button>
        </form>
      
      </div>  
</div>