<div class="container my-5">
    <h1 class="mb-3">Add New User</h1>
    <form #form="ngForm" (ngSubmit)="addUser()">
        <div class="mb-3">
            <label for="Article" class="form-label">Name</label>
            <input type="text" class="form-control" id="Article" name="article" [(ngModel)]="AddUser.userName">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Email</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="AddUser.email">
        </div>
        <div class="mb-3">
            <label for="referenceName" class="form-label">password</label>
            <input type="text" class="form-control" id="referenceName" name="referenceName" [(ngModel)]="AddUser.password">     
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Role
            </button>
            <ul class="mb-3 dropdown-menu">
              <li class="dropdown-item" *ngFor="let Role of roles">
                <button class="dropdown-item" type="button" (click)="selectRole(Role)">{{ Role.name }}</button>
              </li>
            </ul>
          </div>
        <button type="submit" class="btn btn-primary btn-sm">Submit</button>    
    </form>
</div>