<div class="container my-5">
  <div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        
      </header>
      <ul class="nav">
        <li>
          <a routerLink="/ResponsableMagasin/Users">
            <i class="zmdi zmdi-calendar"></i> Users
          </a>
        </li>
        <li>
          <a routerLink="/ResponsableMagasin/Product">
            <i class="zmdi zmdi-link"></i> products
          </a>
        </li>
        <li>
          <a routerLink="/ResponsableMagasin/inventory">
            <i class="zmdi zmdi-widgets"></i> inventory
          </a>
        </li>
        
        <li>
          <a href="#">
            <i class="zmdi zmdi-view-dashboard" (click)="logout()">Logout</i> 
          </a>
        </li>
      </ul>
    </div>
    <!-- Content -->
    <div id="content">
      
      <div class="container-fluid">
        
        <div>
          
          <router-outlet></router-outlet>          
          
        </div>
      </div>
    </div>
  </div>
</div>
