<div class="container my-5">
    <h1 class="mb-3">Products:</h1>
    <div class="addProduct">
        <button class="btn btn-primary btn-sm" (click)="goToAdd()">Add Product</button>
    </div>
    
    <table class="table" *ngIf="products">
        
        <thead>
            <tr>
                <th>article</th>
                <th>description</th>
                <th>reference</th>
                <th> </th>   
                <th> </th> 
            </tr>   
        </thead>
        <tbody>
            <tr *ngFor="let Product of products">
                <td>{{Product.article}}</td>
                <td>{{Product.description}}</td>
                <td>{{Product.referenceName}}</td>
                <td><a  [routerLink]="['/ResponsableMagasin/EditProduct', Product.article]">Dtetails</a></td>
                <td><a  [routerLink]="['/ResponsableMagasin/Location', Product.article]">Location</a> </td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!products">No products found</p>
    
</div>