<h4 class="mb-3">Update Locations:</h4>
<table class="table">
    
        <thead>
            <tr>
                <th>Article</th>
                <th>Magasin</th>
                <th>Emplacement</th>
                <th>Quantity</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of pmEs">
                <td>{{item.article}}</td>
                <td>{{item.magasinName}}</td>
                <td>{{item.emplacementName}}</td>
                <td><input type="text" class="form-control" id="description" name="description" [(ngModel)]="item.quantity"></td>
            </tr>
        </tbody>    
        <button type="submit" class="btn btn-primary btn-sm" (click)="Save()">Save</button>
    
    
</table>
   
    
    