<div class="container my-5">
  <div class="mb-3" >
    <button class="btn btn-primary btn-sm"  routerLink="AddUser">Add New User</button>
  </div>
  <div class="container-fluid">
          
      <div>
        
        <router-outlet></router-outlet>
        
        
      </div>
  </div>
</div>
