<div class="container my-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <h3 class="navbar-brand">Inventory:</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="nav-link active btn " (click)="addInventories()">Add Inventories</button>
          </li>
          <li class="nav-item">
            <button class="nav-link active btn " (click)="addInventoryLine()">Add InventoryLine</button>
          </li>        
        </ul>        
      </div>
    </div>
  </nav>
    
  <div *ngIf="showInput" class="my-3">
    <div class="input-group">
      <span class="input-group-text">Year</span>
      <input type="number" [(ngModel)]="Year" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      <button class="btn btn-primary" (click)="AddInv()">Add Inventory</button>
    </div>   
  </div>
  
  <br>
  <div *ngIf="showForm">
    <form #form="ngForm" (ngSubmit)="AddLine()" class="my-3">
      <div class="mb-3">
        <label for="article" class="form-label">Article</label>
        <input type="text" class="form-control" id="article" name="article" [(ngModel)]="aw.article">
      </div>
      <div class="mb-3">
        <label for="weekNB" class="form-label">WeekNB</label>
        <input type="number" class="form-control" id="weekNB" name="weekNB" [(ngModel)]="aw.weekNB">
      </div>
      <button class="btn btn-primary" (click)="AddLine()">Select Inventory</button>
    </form>    
  </div>  
  
  <br> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">          
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="InvPerYear">Year</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="InvPerMonth">Month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="InvPerWeek">Week</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="NdInv">2nd inventory</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>  
</div>
