<div class="container my-5" *ngIf="ComptageDetails">
    <h1 class="mb-3">Locations:</h1>
    <div *ngIf="!ComptageDetails">
        <p>this product not yet inventoried</p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Article</th>
                <th>Production</th>
                <th>UserName</th>
                <th>WeekNB</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{Article}}</td>
                <td>{{ComptageDetails.production}}</td>
                <td>{{ComptageDetails.userName}}</td>
                <td>{{ComptageDetails.weekNB}}</td>
            </tr>
        </tbody>
    </table>
    
    <table class="table">
        <thead>
            <tr>
                <th>Magasin</th>
                <th>Emplacement</th>
                <th>Quantité</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let PME of ComptageDetails.pmEs">
                <td>{{PME.magasinName}}</td>
                <td>{{PME.emplacementName}}</td>
                <td>{{PME.quantity}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="update">
        <h4>add 2nd counting</h4>
        <form #form="ngForm" (ngSubmit)="DCInv()">
            <div class="mb-3">
                <label for="Article" class="form-label">Article</label>
                <input type="text" class="form-control" id="Article" name="article" [(ngModel)]="dc.article">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">WeekNB</label>
                <input type="text" class="form-control" id="weekNB" name="weekNB" [(ngModel)]="dc.weekNB">
            </div>
            
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Agent
                </button>
                <ul class="mb-3 dropdown-menu">
                  <li class="dropdown-item" *ngFor="let user of users">
                    <button class="dropdown-item" type="button" (click)="selectUser(user)">{{ user.userName }}</button>
                  </li>
                </ul>
              </div>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>    
        </form>
        
        
    </div>
    <div *ngIf="(!update)&&(stock) ">
        <div>
            <button class="btn btn-primary btn-sm" (click)="UpdateLoc()">Update stock</button>
        </div>
    </div>
</div>
